player-connection-mode=Listen
player-connection-guid=851858934
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=10.10.197.182
player-connection-ip=172.28.16.1
player-connection-ip=172.23.96.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
xr-meta-enabled=1
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=517a8fab70c942ccb834b5c4a9b94026
